<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="https://modelix.org">modelix</a>
        <span class="separator">//</span>
        <a href="{{or site.url (or siteRootUrl siteRootPath)}}">Documentation</a>
      </div>
      {{#if (or env.ALGOLIA_API_KEY env.SITE_SEARCH_PROVIDER)}}
      <div class="navbar-item search hide-for-print">
        <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-item" href="https://issues.modelix.org">Issue Tracker</a>
          <a class="navbar-link" href="https://github.com/modelix">Project Sources</a>
          <div class="navbar-dropdown">
            <div class="navbar-item"><strong>Core</strong></div>
            <a class="navbar-item" href="https://github.com/modelix/modelix.core">Repository</a>
            <hr class="navbar-divider">
            <div class="navbar-item"><strong>Samples</strong></div>
            <a class="navbar-item" href="https://github.com/modelix/modelix-samples">Repository</a>
            <a class="navbar-item" href="https://github.com/modelix/modelix-samples/issues">Issue Tracker</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Tooling</div>
          <div class="navbar-dropdown is-right">
            <div class="navbar-item"><strong>Build Automation</strong></div>
            <a class="navbar-item has-label" href="https://hub.docker.com/r/modelix">Docker Images</a>
            <a class="navbar-item has-label" href="https://github.com/modelix/modelix.modelix.gradle-plugin">Gradle Plugin <small>JVM</small></a>
            <hr class="navbar-divider">
            <div class="navbar-item"><strong>Artifact Publication</strong></div>
            <a class="navbar-item has-label" href="https://artifacts.itemis.cloud/#browse/browse:maven-mps:org%2Fmodelix">itemis Nexus Server</a>
            <a class="navbar-item has-label" href="https://github.com/orgs/modelix/packages?repo_name=modelix">GitHub Packages</a>
            <hr class="navbar-divider">
            <div class="navbar-item"><strong>MPS Plugins</strong></div>
            <a class="navbar-item has-label" href="https://github.com/modelix/modelix/tree/mps/2020.3/mps">JetBrains MPS Plugins<small>MPS</small></a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="{{{relativize (resolvePageURL 'modelix::index.adoc')}}}">Community</a>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item has-label" href="https://modelix.org">Website <small>www</small></a>
            <a class="navbar-item has-label" href="https://jetbrains-mps.slack.com/archives/C01ADCD6VSM">Chat <small>Slack</small></a>
            <a class="navbar-item has-label" href="https://modelix.github.io/blog/">News <small>Blog</small></a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

